* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Navbar */

.navBar {
    background-image: linear-gradient(to right, black, aqua);
    position: relative;
    height: 50px;
}

.navBar a {
    float: left;
    color: aqua;
    padding: 15px 10px;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    width: 70px;
}

.navBar a:hover:not(.active), .dropdown:hover .btn{
    background-color: #555;
}

.navBar a.active {
    /* background-color: black; */
	background-image: linear-gradient(to right, aqua, black);
	border-bottom: 1px solid black;
}

.dropdown {
    float: left;
}

.logOut {
	float: right;
}

.logOut:hover {
	cursor: pointer;
}

#logIcon {
	width: 37px;
	border-radius: 50%;
	margin: 10px 10px 0 0;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 50px;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: 1px solid #777;
}

.logOut .dropdown-content {
	right: 0;
}

.dropdown-content > a {
    float: none;
    display: block;
    width: 160px;
    text-align: left;
}

.dropdown-content a:not(a:last-child) {
    border-bottom: 1px solid #777;
}

.dropdown-content a:hover {
    background-color: rgba(85, 85, 85, 0.212);
}



/* @media screen and (max-width: 600px) {

     .navBar {
      width: 100vw;
      min-height: 50px;
    }

    .wrap {
        clear: both;
        width: 100%;
        background-color: #f1f1f1;
        border: 1px solid #777;
        display: none;
    }

    .wrap a {
        clear: both;
        width: 100%;
        border-bottom: 1px solid #444;
        
    }

    .dropdown {
        width: 100%;
        position: relative;
    }

    .dropdown-content {
        width: 90%;
        left: 5%;
    }

    .dropdown-content a:not(a:last-child) {
        border-bottom: 1px solid #777;
        width: 95%;
    }

    .icon {
        display: inline-block;
    }

} */


body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	background-color: #222;
	margin: 0px;
  padding: 0;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.btn {
	cursor: pointer;
	padding: 13px;
	background-color: #222;
	color: aqua;
	border: 0;
	font-size: 22px;
	border-radius: 7px;
}

.btn:hover {
	background-color: #333;
}

.signUp {
  width: 100%;
  padding: 25px;
	text-align: center;
  color: #f5f5f5;
  background-color: #111;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
  font-size: 20px;
}

.signUp a {
  color: aqua;
  margin-left: 8px;
  font-size: 18px;
  text-decoration: underline;
}

.icon {
  display: none;
	margin-right: 12px;
	font-size: 26px;
	color: #999;
	border: 1px solid #999;
	padding: 0 3px;
}

.icon:hover {
	cursor: pointer;
}

/* session expired message */

.expire {
  display: none;
  text-align: center;
  background: rgba(20, 20, 20, 0.6);
  padding: 5px 0;
  margin-bottom: 20px;
}

.expire h2, .back {
  color: aqua;
}

/* not found page */

.error {
	color: rgba(141, 141, 34, 0.658);
}

/* Chat Page */

.chat-container {
	max-width: 1100px;
	background: #fff;
	margin: 30px auto;
	overflow: hidden;
}

.chat-header {
	/* background: var(--dark-color-a); */
	background-color: rgb(11, 61, 85);
	color: #fff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.chat-main {
	display: grid;
	grid-template-columns: 1fr 3fr;
}

.chat-sidebar {
	/* background: var(--dark-color-b); */
	background-color: rgb(17, 108, 136);
	color: #fff;
	padding: 20px 20px 60px;
	overflow-y: scroll;
}

.chat-sidebar h2 {
	font-size: 20px;
	background: rgba(0, 0, 0, 0.1);
	padding: 10px;
	margin-bottom: 20px;
}

.chat-sidebar h3 {
	margin-bottom: 15px;
}

.chat-sidebar ul li {
	padding: 10px;
	background: rgba(0, 0, 0, 0.1);
}

.chat-messages {
	padding: 30px;
	max-height: 500px;
	overflow-y: scroll;
	background-color: rgb(106, 180, 202);
	word-break: break-word;
}

.chat-messages .message {
	padding: 10px;
	margin-bottom: 15px;
	background-color: var(--light-color);
	border-radius: 5px;
}

.chat-messages .message .meta {
	font-size: 15px;
	font-weight: bold;
	color: rgb(141, 42, 42);
	opacity: 0.7;
	margin-bottom: 7px;
}

span {
    float: right;
    font-size: 20px;
    font-weight: bold;
	background-color: rgba(73, 99, 110, 0.4);
    padding: 0 5px;
	color: rgb(95, 14, 95);
}

.chat-form-container {
	padding: 20px 30px;
	/* background-color: var(--dark-color-a); */
	background-color: rgb(11, 61, 85);
}

.chat-form-container form {
	display: flex;
}

.chat-form-container input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	flex: 1;
}

.logged {
	color: aqua !important;
}

/* .bot {
	color: #555 !important;
} */

/* Join Page */
.join-container {
	max-width: 500px;
	margin: 80px auto;
	color: #fff;
}

.join-header {
	text-align: center;
	padding: 20px;
	/* background: var(--dark-color-a); */
	background-color: rgb(24, 61, 61);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.join-main {
	padding: 30px 40px;
	/* background: var(--dark-color-b); */
	background-color: rgb(36, 99, 99);
}

/* .join-main p {
	margin-bottom: 20px;
} */

.join-main .form-control {
	margin-bottom: 15px;
}

.join-main label {
	display: block;
	margin-bottom: 5px;
}

.join-main input {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main input:focus {
  box-shadow: 0px 0px 8px 1px aqua;
  border: 3px solid rgb(36, 99, 99);
}

.join-main select {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
	/* background: var(--light-color); */
	background-color: rgb(20, 20, 20);
	/* color: var(--dark-color-a); */
	color: aqua;
}

.join-main .btn {
	margin-top: 10px;
	width: 100%;
}

.modal {
    display: none;
    background-color: rgba(36, 36, 36, 0.7);
    z-index: 1;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    animation-name: fade;
    animation-duration: 1s;
}

.modal-content {
  position: fixed;
  left: 50%;
  bottom: 50%;
  animation-name: show;
  animation-duration: 1s;
  width: 700px;
  height: 200px;
  transform: translate(-50%, 50%);
  background-color: rgba(22, 21, 21);
}

.modal-content span:hover{
	cursor: pointer;
}

.warning {
	position: absolute;
	bottom: 50%;
	left: 50%;
	transform: translate(-50%, 50%);
	color: red;
}

.danger {
	color: yellow !important;
}

.warning ~ h3 {
	position: absolute;
	bottom: 28%;
	left: 50%;
	transform: translateX(-50%);
	color: white;
}

@keyframes fade {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes unfade {
    from {opacity: 1}
    to {opacity: 0}
}

@keyframes show {
    from {bottom: -300px; opacity: 0}
    to {bottom:50%; opacity: 1}
}

@keyframes hide {
    from {bottom: 50%}
    to {bottom:-300px}
}

@media (max-width: 700px) {
  .join-container {
    margin: 0 auto;
  }

  .join-header {
    padding: 30px;
  }

  .signUp {
    padding: 39px;
  }

	.chat-main {
		display: block;
	}

	.chat-sidebar {
		display: none;
		z-index: 1;
		position: absolute;
		width: 100%;
	}

	#chat-form input {
		min-width: 100px;
	}

	#chat-form button {
		max-width: 90px;
		border-radius: 0;
	}

	.icon {
		display: inline-block;
	}

	.modal-content {
		width: 100%;
		text-align: center;
	}

	.warning {
		width: 100%;
	}

	.warning ~ h3 {
		bottom: 30%;
		width: 100%;
	}

	.danger {
		width: 100%;
		text-align: center;
	}
}

@media (max-width: 245px) {
  .warning {
		font-size: 16px;
		width: 100%;
	}

	.warning ~ h3 {
		bottom: 33%;
		font-size: 14px;
	}
}

@media (max-width: 185px) {
  	.warning ~ h3 {
		font-size: 12px;
	}
}